ccxt==4.1.91
pandas~=2.0.3
boto3
scipy
seaborn~=0.13.2
statsmodels
ta==0.11.0
tqdm~=4.66.2
ipywidgets
ipykernel
lightweight_charts==1.0.18.8
nbstripout
openpyxl
certifi~=2024.2.2
numpy~=1.24.4
matplotlib~=3.7.5
pytz~=2024.1
requests~=2.31.0
pydantic~=2.7.4